
.vs/Projeto .NET Netcon/FileContentIndex/3d903e6d-ad22-49d1-ac83-fc822f7c6e2b.vsidx
.vs/Projeto .NET Netcon/FileContentIndex/5e1e7862-19ae-45ca-980f-b88fd8a3b3b6.vsidx
.vs/Projeto .NET Netcon/v17/.suo
obj/Debug/net8.0/Projeto .NET Netcon.AssemblyInfo.cs
obj/Debug/net8.0/Projeto .NET Netcon.AssemblyInfoInputs.cache
